In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Jamestown,42.0970,-79.2353,74.52,86,0,5.75,US,2022-07-20 06:01:32
1,1,Taltal,-25.4000,-70.4833,57.31,78,36,2.33,CL,2022-07-20 06:05:11
2,2,Ballina,-28.8667,153.5667,59.02,73,99,14.81,AU,2022-07-20 06:05:12
3,3,Carbondale,37.7273,-89.2168,79.02,92,0,4.61,US,2022-07-20 06:05:12
4,4,Ushuaia,-54.8000,-68.3000,33.08,98,99,3.56,AR,2022-07-20 06:03:02

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent windiness 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Carbondale,37.7273,-89.2168,79.02,92,0,4.61,US,2022-07-20 06:05:12
5,5,Progreso,21.2833,-89.6667,82.51,84,35,8.16,MX,2022-07-20 06:05:13
10,10,Corinto,37.9407,22.9573,79.41,49,0,1.99,GR,2022-07-20 06:05:15
13,13,Adrar,20.5022,-10.0711,85.60,17,15,5.39,MR,2022-07-20 06:05:17
18,18,Hithadhoo,-0.6000,73.0833,81.32,72,70,3.98,MV,2022-07-20 06:05:19
25,25,Itarema,-2.9248,-39.9167,76.05,89,17,13.35,BR,2022-07-20 06:05:23
26,26,Kapaa,22.0752,-159.3190,80.58,84,100,17.27,US,2022-07-20 06:05:24
32,32,Madang,-5.2246,145.7966,83.53,71,83,7.40,PG,2022-07-20 06:05:27
42,42,Kavieng,-2.5744,150.7967,83.35,71,100,6.69,PG,2022-07-20 06:06:32
44,44,Gat,31.6100,34.7642,89.40,100,0,5.75,IL,2022-07-20 06:03:12

In [14]:
preferred_cities_df.count()

City_ID       183
City          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
Country       183
Date          183
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3   Carbondale      US     79.02  37.7273  -89.2168
5     Progreso      MX     82.51  21.2833  -89.6667
10     Corinto      GR     79.41  37.9407   22.9573
13       Adrar      MR     85.60  20.5022  -10.0711
18   Hithadhoo      MV     81.32  -0.6000   73.0833
25     Itarema      BR     76.05  -2.9248  -39.9167
26       Kapaa      US     80.58  22.0752 -159.3190
32      Madang      PG     83.53  -5.2246  145.7966
42     Kavieng      PG     83.35  -2.5744  150.7967
44         Gat      IL     89.40  31.6100   34.7642

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Carbondale,US,79.02,37.7273,-89.2168,Best Western Saluki Inn
5,Progreso,MX,82.51,21.2833,-89.6667,Playa Linda Hotel
10,Corinto,GR,79.41,37.9407,22.9573,Ephira Hotel
13,Adrar,MR,85.60,20.5022,-10.0711,
18,Hithadhoo,MV,81.32,-0.6000,73.0833,Scoop Guest House
25,Itarema,BR,76.05,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
26,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
32,Madang,PG,83.53,-5.2246,145.7966,Comfort Inn Hotel
42,Kavieng,PG,83.35,-2.5744,150.7967,Nusa Island Retreat
44,Gat,IL,89.40,31.6100,34.7642,OlusHome

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]